@*@model EasyEnglish.Data.Models.Course*@
@model EasyEnglish.Web.ViewModels.Administration.Courses.CourseViewModel

@{
    ViewData["Title"] = "Edit";
    var teachersItems = this.Model.TeachersItems.Select(x => new SelectListItem(x.Value, x.Key));
    var courseTypesItems = this.Model.CourseTypeItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Teacher.Id" class="control-label"></label>
                <select asp-for="@Model.Teacher.Id" class="form-control" asp-items="teachersItems"></select>
                <span asp-validation-for="@Model.Teacher.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CourseType.Id" class="control-label"></label>
                <select asp-for="@Model.CourseType.Id" class="form-control" asp-items="courseTypesItems"></select>
                <span asp-validation-for="@Model.CourseType.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to All courses</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
