@model EasyEnglish.Web.ViewModels.Administration.Courses.CourseListViewModel

@{
    ViewData["Title"] = "Courses";
}

<h1>@this.ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Course</a>
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Courses.First().CourseType)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Courses.First().StudentsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.First().Students)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.First().Description)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Courses.First().TeacherName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Courses)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseType)
            </td>                
            <td>
                @Html.DisplayFor(modelItem => item.StudentsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="AddStudent" asp-route-id="@item.Id">Add Student</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<partial name="_PagingPartial" model="@Model" />