@model EasyEnglish.Web.ViewModels.Administration.Resources.ResourceViewModel

@{
    ViewData["Title"] = "Resources";
}

<h1>@this.ViewData["Title"]</h1>

<p>
    <a asp-action="AddRemoteUrl" class="btn btn-primary">Add Remote Url</a>
</p>
<p>
    <a asp-action="UploadFile" class="btn btn-primary">Upload File</a>
</p>
<hr />
<h4>@Html.DisplayNameFor(Model => Model.ResourceUrls)</h4>
<hr />
<table class="table table-hover table-striped">
    <thead>   
    </thead>
    <tbody>
        @foreach (var item in Model.ResourceUrls)
        {
            <form method="post">
            <tr>
                <td>
                    <a href="@item.Url" target="_blank">@item.Name</a>
                </td>                
                <td>
                    <input type="text" hidden id="id" name="Id" value="@item.Id" />
                    <div>
                        <button type="submit" asp-action="Delete" class="btn btn-primary">Delete</button>
                    </div>
                </td>
            </tr>
            </form>
        }
    </tbody>
</table>
<hr />
<h4>@Html.DisplayNameFor(Model => Model.ResourceFiles)</h4>
<hr />
<table class="table table-hover table-striped">
    <thead>   
    </thead>
    <tbody>
        @foreach (var item in Model.ResourceFiles)
        {
            <form method="post">
            <tr>
                <td>
                    <a href="@item.Name">@item.Name</a>
                </td>                
                <td>
                    <input type="text" hidden id="id" name="Id" value="@item.Id" />
                    <div>
                        <button type="submit" asp-action="Download" class="btn btn-primary">Download</button>
                    </div>                    
                </td>
                <td>
                    <input type="text" hidden id="id" name="Id" value="@item.Id" />
                    <div>
                        <button type="submit" asp-action="Delete" class="btn btn-primary">Delete</button>
                    </div>
                </td>
            </tr>
            </form>
        }
    </tbody>
</table>
