@model EasyEnglish.Web.ViewModels.Messages.MessageListViewModel
@{
    this.ViewData["Title"] = "Messages";
}
<div class="container-fluid">
    <div class="row">
        @foreach (var message in Model.Messages.Where(x => x.StartDate <= DateTime.Today && x.EndDate >= DateTime.Today))
        {
        <div class="col-lg-8 offset-md-2" >
                <div class="card mb-3" style="max-width: 1440px;">
                <div class="row">
                    <div class="col-md-4">
                        <img src="@message.AddedByUser.ProfilePicture" alt="Profil Picture" class="img-fluid rounded-start" alt="...">
                    </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                        <h5 class="card-title">@message.AddedByUser.Name</h5>
                            </div>
                            <div class="col">
                                <i class="fas fa-star" style="color:#efcc00"></i>
                                <p class="text-muted">5/5</p>
                            </div>
                        </div>
                        <h6 class="card-title">@message.StartDate.ToShortDateString() </h6>
                        <p class="card-text">@message.Description.Substring(0, @Math.Min(100, @message.Description.Length))...</p>
                        <a asp-controller="Messages" asp-action="Details" asp-route-id="@message.Id" class="btn btn-secondary">See more</a>
                    </div>
                </div>
                </div>
            </div>
        </div>        
        }
    </div>
</div>